{
  "vcenter-server":"",
  "vcenter-username":"",
  "vcenter-password":"",
  "insecure-connection": "false",

  "datacenter": "",
  "datastore":"",
  "folder": "",
  "cluster": "",
  "network": "",

  "vm-cpu-num": "1",
  "vm-mem-size": "1024",
  "vm-disk-size": "10240",

  "ssh-username": "ubuntu",
  "ssh-password": "ubuntu"
}
